.infinite-scroll-component {
  padding: 49px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bg {
  background-color: black;
  background: url("./images/college.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.bg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
}

.card {
  width: 637.3px;
  margin: 68.7px 62.7px 10px 0;
  background-color: white;
  position: relative;
  border-radius: 3.8px;
  box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
  border: solid 0.2px #444444;
}

.image {
  height: 234px;
  width: 100%;
  border-radius: 3.8px;
  position: relative;
}

.rating {
  background-color: #f5a626;
  padding: 10px;
  border-radius: 3.8px;
  position: absolute;
  right: 13px;
  text-align: center;
  font-size: 13.5px;
  top: 28.3px;
}

.info {
  padding: 5px;
}

.info-main {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.dark{
  color: #444;
}

.light{
  color: #adadad
}

.info-main .name {
  font-weight: bold;
  font-size: 18.5px;
}

.info-main .price {
  text-decoration: line-through;
}

.info-secondary {
  display: flex;
  justify-content: space-between;
  font-size: 13.5px;
  margin: 11px 0;
}
.info-secondary .number {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.college-number {
  color: white;
}

.key {
  display: flex;
  margin-bottom: 5px;
}
.rounded {
  background-color: white;
  border-radius: 50px;
  margin-right: 7px;
  width: 150px;
  padding: 8px;
  text-align: center;
}

.promoted {
  background: skyblue;
  padding: 15px;
  position: absolute;
  text-align: center;
  z-index: 10000;
  right: 0;
  transform: translate(1%, -50%);
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
}

.nearby {
  font-size: 13.5px;
  margin-top: -20px;
  margin-bottom: 5px;
}

.offers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.offers .discount {
  padding: 10px;
  background-color: #ccf5e7;
  border-radius: 0 30px 30px 0;
  margin-left: -5px;
}

.ranking {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  font-size: 13.5px;
  width: 100%;
  padding: 5px;
}

.college-number {
  text-align: right;
  align-self: center;
  margin-right: 10px;
}

.heading {
  font-size: 18.5px;
  margin: 49px 50px 0 50px;
  font-family: sans-serif;
  color: #444444;
  font-weight: 500;
}

.number .amount {
  font-weight: bold;
  font-size: 28.5px;
  line-height: 0.89;
  color: red;
}

.amenties {
  color: #37b396;
}
.amenties::after {
  content: " +";
}

.amenties:last-child::after {
  content: "";
}